<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>About Us!</title>
</head>
<body>
  <h2>About FutureTech -- Where Innovation Meets Excellence</h2>

  <p>
    In the heart of Silicon Valley, amidst the bustling innovation and digital dreams,
    FutureTech was born. Founded in 2019 by a group of passionate tech enthusiasts and
    visionary engineers, our journey began with a simple yet profound mission: to empower
    individuals and businesses by providing cutting-edge computing solutions that redefine
    what's possible. We have the best computers on the market. Guaranteed or your money back.
  </p>
  <a href="http://localhost:8080/mainscreen">Back to Main Screen</a>
</body>
</html>